<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByTZbp4MMQjCbqTsCam07EyIDJBwpwQSI</string>
	<key>GCM_SENDER_ID</key>
	<string>743578384186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testeflutter</string>
	<key>PROJECT_ID</key>
	<string>agendfy</string>
	<key>STORAGE_BUCKET</key>
	<string>agendfy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743578384186:ios:06d902b047060ffd188203</string>
	<key>DATABASE_URL</key>
	<string>https://agendfy-default-rtdb.firebaseio.com</string>
</dict>
</plist>